button {

  margin: 0 auto;
  background-color: #ffffff;
  border: 6px solid #000000;
  width: 10vw;
  height: 10vh;
  border-radius: 50%;
}

.game-board {
  
width: 40%;
  background-color: #34495e;
  color: rgb(128, 128, 128);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  border: 6px solid #739dc7;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(117, 117, 117);
  
}

.block {
  margin: 0 auto;
  background-color: rgb(219, 28, 28);
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
}

.red {
  color: rgb(0, 0, 0);
}

.white {
  color: rgb(52, 59, 66);
}

*{
  margin: 0 auto;
}